<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="VM"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Report"/>
		<service name="Gui"/>
		<service name="Nic"/>
	</parent-provides>

	<default caps="100"/>

	<start name="terminal" caps="150">
		<resource name="RAM" quantum="16M"/>
		<provides> <service name="Terminal"/> </provides>
		<config copy="yes" paste="yes">
			<initial width="800" height="600"/>
			<vfs> <dir name="fonts"> <fs/> </dir> </vfs>
		</config>
		<route>
			<service name="File_system"> <parent label="fonts"/>    </service>
			<service name="Gui">         <parent label="terminal"/> </service>
			<service name="Report" label="clipboard"> <parent label="clipboard"/> </service>
			<service name="ROM"    label="clipboard"> <parent label="clipboard"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="log_terminal">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Terminal"/> </provides>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vdi_block">
		<resource name="RAM" quantum="10M"/>
		<provides> <service name="Block"/> </provides>
		<config file="/block.vdi" writeable="yes">
			<vfs>
				<fs label="block.vdi" buffer_size="2M"/>
				<import overwrite="no">
					<rom name="block.vdi" binary="yes"/>
				</import>
			</vfs>
		</config>
		<route>
			<service name="File_system"> <parent label="block.vdi"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vmm" caps="200">
		<resource name="RAM" quantum="256M"/>
		<config/>
		<route>
			<service name="ROM" label="linux">
				<parent label="linux_kernel"/> </service>
			<service name="ROM" label="dtb">
				<parent label="linux_dtb"/> </service>
			<service name="ROM" label="initrd">
				<parent label="linux_initrd"/> </service>
			<service name="Terminal" label="earlycon">
				<child name="log_terminal"/> </service>
			<service name="Terminal">
				<child name="terminal"/> </service>
			<service name="Block">
				<child name="vdi_block"/> </service>
			<any-service><parent/></any-service>
		</route>
	</start>
</config>
