<config prio_levels="2">

	<report init="init_ram" init_caps="yes" child_ram="yes" delay_ms="2000" buffer="64K" provided="yes" requested="yes"/>

	<parent-provides>
		<service name="ROM"/>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="IO_PORT"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Report"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<service name="Framebuffer">
		<default-policy> <child name="fb_drv"/> </default-policy> </service>

	<service name="Block">
		<default-policy> <child name="sd_card_drv"/> </default-policy> </service>

	<service name="Usb">
		<default-policy> <child name="usb_drv"/> </default-policy> </service>

	<service name="Input">
		<default-policy> <child name="input_filter"/> </default-policy> </service>

	<start name="report_rom">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="no">
			<policy label="rom_reporter -> usb_devices"   report="usb_drv -> devices"/>
			<policy label="usb_hid_drv -> report"   report="usb_drv -> devices"/>
		</config>
	</start>

	<start name="rom_reporter">
		<resource name="RAM" quantum="1M"/>
		<config>
			<rom label="usb_devices"/>
		</config>
		<route>
			<service name="ROM"    label="usb_devices"> <child name="report_rom"/> </service>
			<service name="Report" label="usb_devices"> <parent label="usb_devices"/> </service>
			<service name="LOG"> <parent/> </service>
			<service name="PD">  <parent/> </service>
			<service name="CPU"> <parent/> </service>
			<service name="ROM"> <parent/> </service>
		</route>
	</start>

	<start name="usb_drv" caps="200" priority="0">
		<binary name="imx8q_evk_usb_host_drv"/>
		<resource name="RAM" quantum="16M"/>
		<resource name="CPU" quantum="20"/>
		<provides> <service name="Usb"/> </provides>
		<config bios_handoff="yes">
			<report devices="yes"/>
			<policy label_prefix="usb_hid_drv" class="0x3"/>
		</config>
		<route>
			<service name="Report" label="devices"> <child name="report_rom"/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="IRQ">    <parent/> </service>
			<service name="IO_MEM"> <parent/> </service>
			<service name="Timer">  <parent/> </service>
		</route>
	</start>

	<start name="usb_hid_drv" caps="140" priority="0">
		<resource name="RAM" quantum="11M"/>
		<resource name="CPU" quantum="20"/>
		<provides><service name="Input"/></provides>
		<config use_report="yes"/>
		<route>
			<service name="ROM" label="report"> <child name="report_rom"/> </service>
			<service name="ROM" label="capslock"> <parent label="capslock"/> </service>
			<service name="ROM" label="numlock">  <parent label="numlock"/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Usb">   <child name="usb_drv"/> </service>
		</route>
	</start>

	<!-- toggle key mappings depending on the numlock state -->
	<start name="numlock_remap_rom" priority="-1">
		<binary name="rom_filter"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="ROM"/> </provides>
		<route>
			<service name="ROM" label="config">  <parent label="numlock_remap.config"/> </service>
			<service name="ROM" label="numlock"> <parent label="numlock"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="input_filter" caps="90" priority="-1">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Input"/> </provides>
		<route>
			<service name="ROM" label="config">        <parent label="input_filter.config"/> </service>
			<service name="ROM" label="numlock.remap"> <child name="numlock_remap_rom"/> </service>
			<service name="ROM" label="capslock">      <parent label="capslock"/> </service>
			<service name="Input" label="usb"> <child name="usb_hid_drv"/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
		</route>
	</start>

	<start name="fb_drv" caps="250" priority="0">
		<binary name="imx8_fb_drv"/>
		<resource name="RAM" quantum="80M"/>
		<provides><service name="Framebuffer"/></provides>
		<route>
			<service name="ROM" label="config"> <parent label="fb_drv.config"/> </service>
			<service name="IO_MEM">   <parent/> </service>
			<service name="IRQ">      <parent/> </service>
			<service name="RM">       <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Report">   <parent/> </service>
		</route>
	</start>

	<start name="sd_card_drv" priority="0">
		<binary name="imx8q_evk_sd_card_drv"/>
		<resource name="RAM" quantum="1M"/>
		<resource name="CPU" quantum="20"/>
		<provides><service name="Block"/></provides>
		<route>
			<service name="IO_MEM">   <parent/> </service>
			<service name="IRQ">      <parent/> </service>
			<service name="RM">       <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
		</route>
	</start>
</config>
