<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Gui"/>
		<service name="Event"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> </any-service>
	</default-route>

	<default caps="100"/>

	<service name="Gui">
		<default-policy> <child name="wm"/> </default-policy> </service>

	<start name="report_rom">
		<resource name="RAM" quantum="4M"/>
		<provides>
			<service name="Report"/>
			<service name="ROM"/>
		</provides>
		<config verbose="yes">
			<policy label="layouter -> window_list"       report="wm -> window_list"/>
			<policy label="layouter -> focus_request"     report="wm -> focus_request"/>
			<policy label="decorator -> window_layout"    report="layouter -> window_layout"/>
			<policy label="wm -> resize_request"          report="layouter -> resize_request"/>
			<policy label="decorator -> pointer"          report="wm -> pointer"/>
			<policy label="layouter -> hover"             report="decorator -> hover"/>
			<policy label="layouter -> decorator_margins" report="decorator -> decorator_margins"/>
			<policy label="wm -> focus"                   report="layouter -> focus"/>
			<policy label="panel -> shape"                report="wm -> shape"/>
		</config>
	</start>

	<start name="wm" caps="250">
		<resource name="RAM" quantum="6M"/>
		<provides>
			<service name="Gui"/>
			<service name="Report"/>
			<service name="ROM"/>
		</provides>
		<config>
			<policy label_prefix="decorator" role="decorator"/>
			<policy label_prefix="layouter"  role="layouter"/>
			<policy label_prefix="panel"     role="panel"/>
			<default-policy/>
		</config>
		<route>
			<service name="ROM" label="resize_request"> <child name="report_rom"/> </service>
			<service name="ROM" label="focus">          <child name="report_rom"/> </service>
			<service name="Report" label_last="clipboard"> <parent/> </service>
			<service name="ROM"    label_last="clipboard"> <parent/> </service>
			<service name="Report">                     <child name="report_rom"/> </service>
			<service name="Gui" label=""> <parent label="focus"/> </service>
			<any-service>
				<parent/> <any-child/>
			</any-service>
		</route>
	</start>

	<start name="layouter">
		<binary name="mobile_shell"/>
		<resource name="RAM" quantum="4M"/>
		<route>
			<service name="ROM" label="window_list">
				<child name="report_rom"/> </service>
			<service name="ROM" label="button_list">
				<child name="report_fs_rom" label="button_list.xml"/> </service>
			<service name="Report">
				<child name="report_rom"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="decorator" caps="300">
		<binary name="themed_decorator"/>
		<resource name="RAM" quantum="12M"/>
		<config>
			<libc/>
			<vfs> <tar name="no_decorator_theme.tar"/> </vfs>
			<default-policy motion="30"/>
		</config>
		<route>
			<service name="ROM" label="window_layout">
				<child name="report_rom"/> </service>
			<service name="ROM" label="pointer">
				<child name="report_rom"/> </service>
			<service name="Report" label="decorator_margins">
				<child name="report_rom"/> </service>
			<service name="Report" label="hover">
				<child name="report_rom"/> </service>
			<service name="Gui"> <child name="wm"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="keyboard" caps="350">
		<binary name="virtualkeyboard"/>
		<resource name="RAM" quantum="100M"/>
		<config>
			<vfs>
				<dir name="dev">
				        <log/>
				        <inline name="rtc">2018-01-01 00:01</inline>
				</dir>
				<dir name="pipe"> <pipe/> </dir>
				<event/>
				<tar name="qt5_dejavusans.tar"/>
				<tar name="qt5_declarative_qml.tar"/>
				<tar name="qt5_libqgenode.tar"/>
				<tar name="qt5_libqsvg.tar"/>
				<tar name="qt5_libqtvirtualkeyboardplugin.tar"/>
				<tar name="qt5_quickcontrols2_qml.tar"/>
				<tar name="qt5_virtualkeyboard_qml.tar"/>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" pipe="/pipe" rtc="/dev/rtc"/>
		</config>
		<route>
			<service name="Event"> <parent/> </service>
			<service name="Gui">
				<child name="wm" label="keyboard"/> </service>
			<service name="ROM" label="egl_drv.lib.so">
				<parent label="egl_swrast.lib.so" /> </service>
			<service name="Report">
				<child name="report_rom" /> </service>
			<any-service> <parent /> <any-child/> </any-service>
		</route>
	</start>

	<start name="report_fs">
		<binary name="vfs"/>
		<resource name="RAM" quantum="16M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs>
				<ram/>
				<import>
					<inline name="button_list.xml"><button_list></button_list></inline>
				</import>
			</vfs>
			<policy label="panel -> " root="/" writeable="yes"/>
			<policy label="report_fs_rom -> " root="/"/>
		</config>
	</start>

	<start name="report_fs_rom">
		<binary name="fs_rom"/>
		<resource name="RAM" quantum="3M"/>
		<provides> <service name="ROM"/> </provides>
		<config verbose="yes"/>
		<route>
			<service name="File_system"> <child name="report_fs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="panel" caps="250">
		<binary name="test-qt_quickcontrols_panel"/>
		<resource name="RAM" quantum="80M"/>
		<config>
			<vfs>
				<dir name="dev">
					<log/>
					<inline name="rtc">2018-01-01 00:01</inline>
				</dir>
				<dir name="reports">
					<fs/>
				</dir>
				<dir name="pipe"> <pipe/> </dir>
				<tar name="qt5_declarative_qml.tar"/>
				<tar name="qt5_dejavusans.tar"/>
				<tar name="qt5_libqsvg.tar"/>
				<tar name="qt5_libqgenode.tar"/>
				<tar name="qt5_quickcontrols2_qml.tar"/>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" pipe="/pipe" rtc="/dev/rtc"/>
		</config>
		<route>
			<service name="File_system">
				<child name="report_fs"/> </service>
			<service name="Gui">
				<child name="wm" label="panel"/> </service>
			<service name="Report" label="shape">
				<child name="report_rom" />
			</service>
			<service name="ROM" label="egl_drv.lib.so">
				<parent label="egl_swrast.lib.so" /> </service>
			<any-service> <parent /> <any-child/> </any-service>
		</route>
	</start>
</config>

