<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="VM"/>
		<service name="Timer"/>
		<service name="Nitpicker"/>
		<service name="File_system"/>
		<service name="Report"/>
		<service name="Nic"/>
	</parent-provides>
	<default-route>
		<any-service><parent/><any-child/></any-service>
	</default-route>
	<default caps="100"/>

	<start name="Linux VM">
		<binary name="nit_fb"/>
		<resource name="RAM" quantum="4M"/>
		<provides>
			 <service name="Framebuffer"/>
			 <service name="Input"/>
		</provides>
		<config xpos="0" ypos="0" width="640" height="480" refresh_rate="25"/>
	</start>

	<start name="terminal">
		<resource name="RAM" quantum="3M"/>
		<provides> <service name="Terminal"/> </provides>
		<config copy="yes" paste="yes">
			<vfs><dir name="fonts"><fs/></dir></vfs>
		</config>
		<route>
			<service name="File_system"> <parent label="fonts"/> </service>
			<service name="Report" label="clipboard"> <parent label="clipboard"/> </service>
			<service name="ROM"    label="clipboard"> <parent label="clipboard"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="log_terminal">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Terminal"/> </provides>
	</start>

	<start name="vmm" caps="200">
		<resource name="RAM" quantum="256M"/>
		<route>
			<service name="Terminal" label="earlycon"> <child name="log_terminal"/> </service>
			<service name="Terminal" label="console"> <child name="terminal"/> </service>
			<any-service><parent/></any-service>
		</route>
	</start>
</config>

