<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="VM"/>
		<service name="Gui"/>
		<service name="Timer"/>
		<service name="Block"/>
		<service name="Nic"/>
		<service name="RM"/>
	</parent-provides>

	<start name="log_terminal" caps="100">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Terminal"/> </provides>
		<route> <any-service><parent/></any-service> </route>
	</start>

	<start name="vmm" caps="200">
		<resource name="RAM" quantum="1000M"/>
		<route>
			<service name="Terminal"> <child name="log_terminal"/> </service>
			<any-service><parent/></any-service>
		</route>
		<config kernel_rom="linux" initrd_rom="initrd" ram_size="800M"
		        cpu_count="4" cpu_type="arm,cortex-a53" gic_version="3"
		        bootargs="console=tty0">
			<virtio_device name="hvc0"   type="console"/>
			<virtio_device name="eth0"   type="net"/>
			<virtio_device name="vda0"   type="block"/>
			<virtio_device name="fb0"    type="gpu"/>
			<virtio_device name="event0" type="input"/>
		</config>
	</start>
</config>
