<config clipboard="no">
	<vfs>
		<dir name="dev">
			<log/>
			<inline name="rtc">2018-01-01 00:01</inline>
		</dir>
		<dir name="pipe"> <pipe/> </dir>
		<event/>
		<tar name="qt5_dejavusans.tar"/>
		<tar name="qt5_declarative_qml.tar"/>
		<tar name="qt5_libqgenode.tar"/>
		<tar name="qt5_libqsvg.tar"/>
		<tar name="qt5_libqtvirtualkeyboardplugin.tar"/>
		<tar name="qt5_quickcontrols2_qml.tar"/>
		<tar name="qt5_virtualkeyboard_qml.tar"/>
	</vfs>
	<libc stdout="/dev/log" stderr="/dev/log" pipe="/pipe" rtc="/dev/rtc"/>
</config>
